## For arm64
# image:
#   # image.repository -- Image repo
#   repository: 'warpigg/polaris-arm'
#   tag: '1.0'

dashboard:
  enable: true

webhook:
  # webhook.enable -- Whether to run the Validating Webhook
  enable: false

audit:
  # audit.enable -- Runs a one-time audit. This is used internally at Fairwinds, and may not be useful for others.
  enable: false