{
  "AUTOMATION_GIT_PROJECT_NAME": "easy_tekton",
  "AUTOMATION_GIT_REVISION": "master",
  "AUTOMATION_GIT_SERVER_HOST": "REPLACEME_AUTOMATION_GIT_SERVER_HOST",
  "AUTOMATION_GIT_SERVER_PORT": "REPLACEME_AUTOMATION_GIT_SERVER_PORT",
  "AUTOMATION_GIT_SERVER_SSH_USER": "REPLACEME_AUTOMATION_GIT_SERVER_SSH_USER",
  "AUTOMATION_GIT_URL": "REPLACEME_AUTOMATION_GIT_URL",
  "BASE_DOMAIN": "REPLACEME_BASE_DOMAIN",
  "DOCKER_REGISTRY_BASE_URL": "docker.io/julianweberdev",
  "DOCKER_REGISTRY_DEPLOYMENT_NAME": "registry",
  "DOCKER_REGISTRY_DEPLOYMENT_NAMESPACE": "registry",
  "DOCKER_REGISTRY_HELM_CHART_VERSION": "1.13.0",
  "DOCKER_REGISTRY_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "ENVIRONMENT": "dev",
  "GITBUCKET_DEPLOYMENT_NAME": "gitbucket",
  "GITBUCKET_DEPLOYMENT_NAMESPACE": "gitbucket",
  "GITBUCKET_HELM_CHART_VERSION": "4.34.0",
  "GITBUCKET_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "GITEA_DEPLOYMENT_NAME": "gitea",
  "GITEA_DEPLOYMENT_NAMESPACE": "gitea",
  "GITEA_HELM_CHART_VERSION": "4.1.0",
  "GITEA_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "GITLAB_DEPLOYMENT_NAME": "gitlab",
  "GITLAB_DEPLOYMENT_NAMESPACE": "gitlab",
  "GITLAB_HELM_CHART_VERSION": "5.2.4",
  "GITLAB_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "GIT_DEPLOYER_GPG_PUBLIC_KEY": "REPLACEME_GIT_DEPLOYER_GPG_PUBLIC_KEY",
  "GIT_DEPLOYER_PUBLIC_KEY": "REPLACEME_GIT_DEPLOYER_PUBLIC_KEY",
  "GRAFANA_DEPLOYMENT_NAME": "grafana",
  "GRAFANA_DEPLOYMENT_NAMESPACE": "grafana",
  "GRAFANA_HELM_CHART_VERSION": "6.13.10",
  "GRAFANA_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "LINKERD_NAMESPACE": "linkerd",
  "LINKERD_VIZ_NAMESPACE": "linkerd-viz",
  "LOKI_DEPLOYMENT_NAME": "loki",
  "LOKI_DEPLOYMENT_NAMESPACE": "loki",
  "LOKI_HELM_CHART_VERSION": "2.4.1",
  "LOKI_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "POLARIS_DEPLOYMENT_NAME": "polaris",
  "POLARIS_DEPLOYMENT_NAMESPACE": "polaris",
  "POLARIS_HELM_CHART_VERSION": "4.1.0",
  "POLARIS_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "PROMETHEUS_BLACKBOX_EXPORTER_DEPLOYMENT_NAME": "prometheus-blackbox-exporter",
  "PROMETHEUS_BLACKBOX_EXPORTER_DEPLOYMENT_NAMESPACE": "prometheus",
  "PROMETHEUS_BLACKBOX_EXPORTER_HELM_CHART_VERSION": "5.0.1",
  "PROMETHEUS_BLACKBOX_EXPORTER_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "PROMETHEUS_DEPLOYMENT_NAME": "prometheus",
  "PROMETHEUS_DEPLOYMENT_NAMESPACE": "prometheus",
  "PROMETHEUS_HELM_CHART_VERSION": "14.4.1",
  "PROMETHEUS_HELM_DEPLOYMENT_TIMEOUT": "15m",
  "TEKTON_CI_IMAGE_NAME": "ubuntu-ci-minimal",
  "TEKTON_CI_IMAGE_TAG": "latest",
  "TEKTON_KUBERNETES_STORAGE_CLASS": "local-path",
  "TEKTON_NAMESPACE": "tekton-pipelines",
  "VAULT_DEPLOYMENT_NAME": "vault",
  "VAULT_DEPLOYMENT_NAMESPACE": "vault",
  "VAULT_HELM_CHART_VERSION": "0.15.0",
  "VAULT_HELM_DEPLOYMENT_TIMEOUT": "15m"
}